// Enter any custom Sass in this file.
.navbar-brand {
  display: block;
  width: 100%;
  max-width: 2000px;
  padding: 15px;
  height: auto;
}

# _frontpage_intro.
.site-intro {
    margin-top: 20px;
    .description{
        margin-top:  30px;
        font-size:  21px;

        text-align: justify;
        text-justify: inter-word;
    }

    @media only screen and (min-width: 700px) {
        padding-right: 300px;
        min-height: 180px;

        background: url('../img/Wheel_Transparent-01.png');
        background-position: right 60px top;
        background-size: 180px;
        background-repeat: no-repeat;
    }
}

# Back to the top
#main-content {
  a[href="#top"] {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-right: 15px;
    text-align: right;
    width: 100%;
    .app-c-back-to-top__icon {
      margin-right: .3em;
      width: .8em;
      height: .968em;
      margin-bottom: 3px;
    }
  }
}

#top:focus {
  outline: none !important;
}
